body{
  font-family:Droid Sans;
  font-size:18px;
  background:white;
  margin:0px;
  padding:0px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* HTC Touch 4G */
#frame{
  background:white;
  width:100%;
  height:99%;
}

#logo{
  text-align:center;
}

#introduction{
  text-align:left;
  width:600px;
  display:inline-block;
}

#logo img{
  vertical-align:top;
  margin-top:50px;
}

img.rightlogo{
  height:80px;
  margin-left:80px;
}
img.leftlogo{
  height:80px;
  margin-right:80px;
}

#logo img.main{
  width:280px;
}

#initial_buttons_view{
  margin-top:30px;
  text-align:center;
}

#initial_buttons_view .button{
  width:140px;
  margin-right:20px;
  margin-left:20px;
}

.button{
  padding:4px;
  background:rgb(33,85,97);
  color:white;
  font-family:Droid Sans;
  font-size:28px;
  border-radius:10px;
  display:inline-block;
  padding-left:10px;
  padding-right:10px;
  cursor:pointer;
}

#data_area{
  margin:10px;
}

#data_button{
  position:absolute;
  color:white;
  background:white;
  width:100px;
  height:100px;
  right:0px;
  bottom:0px;
}

.instructions{
  position:absolute;
  background:white;
  left:250px;
  top:50px;
  width:500px;
  border:1px solid #666;
  border-radius:10px;
  z-index:1000;
*  -moz-box-shadow:    3px 3px 3px 3px #666;
  -webkit-box-shadow: 3px 3px 3px 3px #666;
  box-shadow: 3px 3px 3px 0px #666;*/
}

.instructions h1{
  margin:0px;
  background:black;
  padding:5px;
  color:white;
  font-size:24px;
  border-radius:10px;
}

.instructions p{
  padding-left:10px;
  padding-right:10px;
  padding-bottom:10px;
}
