body{
  font-family:Droid Sans;
  font-size:18px;
  background:white;
  margin:0px;
  padding:0px;
}

/* HTC Touch 4G */
#frame{
  background:white;
  width:100%;
  height:99%;
}

#logo img{
  vertical-align:top;
  margin-top:50px;
}

img.rightlogo{
  height:80px;
  margin-left:80px;
}
img.leftlogo{
  height:80px;
  margin-right:80px;
}

#logo img.main{
  width:280px;
}

#initial_buttons_view{
  margin-top:80px;
}

#initial_buttons_view .button{
  width:140px;
  margin-right:20px;
  margin-left:20px;
}

.button{
  padding:4px;
  background:rgb(33,85,97);
  color:white;
  font-family:Droid Sans;
  font-size:28px;
  border-radius:10px;
  display:inline-block;
  padding-left:10px;
  padding-right:10px;
  cursor:pointer;
}

#data_area{
  margin:10px;
}

#data_button{
  display:none;
}
