<!-- left bar -->
<div id="bullseye_options">
<%  groups.each(function(group){ 
%>

<div class="bullseye_option" id="<%=group.get("name")%>"><%=group.get("name")%></div>

<%  }); %>  
</div><!-- bullseye --><div id="bullseye">
  <canvas id="bullseye_canvas" width="750" height="600"></div>
</div>

<!-- microphone -->
<div id="bullseye_auxilliary">
<img src="images/microphone.png" width="30"/>
</div>
