<div id="instructions_bullseye_move" class="instructions">
  <h1>Who has working relationships?</h1>
  <p>Who do you think has a working relationship? To draw connections between names, press on a name and drag between them. If both names are highlighted red, release your finger to complete the link.</p>
  <div align="center"><img src="images/connection_example.png"/></div>
  <p><strong>Note:</strong> This prototype does not permit you to remove links.</p>
  <p>If you think of new names, click on the <span style="background:#f33; color:white; padding:2px;"><strong>&gt;&gt;</strong></span>  button again to resume adding and placing names in the survey area.</p>
  <p>When you are finished, press the right arrow on the right to continue.</p>
  <div class="button" id="close_instructions">(Close)</div>
</div>
