<div id="instructions_bullseye_move" class="instructions">
  <h1>Adding to the Bullseye Chart</h1>
  <p>Please add names to the bullseye chart. Items to the bottom are closest to you, and items to the top are furthest away. To remove an option from the bullseye, simply drag it back into the area on the left.</p>
  <p><img src="images/connection_button.png" align="right"/>After you have added elements to the bullseye, please add connections between them by pressing the "connections"  button.</p>
  <p><img src="images/save_checklist.png" width="30" align="right"/>When you are finished, please press the arrow on the right to continue.</p>
  <div class="button" id="close_instructions">(Close)</div>
</div>
