<div id="instructions_bullseye_move" class="instructions">
  <h1>Map out your collaborations, connections, and interests</h1>
  <p>Tell us who you work with, whose work is close to yours, and whose unrelated work you admire. Simply drag names from the list on the left onto the areas in the middle.</p>
<p>If you can't find a name, add it by pressing the <strong>+</strong> button.</p>
<p>To remove a name from the survey, simply drag it back into the list on the left.</p>
  <p>After you have added names, click the <span style="background:#333; color:white; padding:2px;"><strong>&gt;&gt;</strong></span> button to share your impressions of who on your list has working relationships.</p>
  <div class="button" id="close_instructions">(Close)</div>
</div>
