<div id="logo"><img src="images/social_mirror_logo.png"/></div>
<div id="initial_buttons_view">
  <div class="button" id="demo">Demonstration</div>
  <div class="button" id="start">Begin</div>
</div>
